html
    head
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(rel="stylesheet" href="/css/styles.css")

    body
        //- nav bar section
        nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #2c2f30;')
            a.navbar-brand(href='/') Pokédex
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarText.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/') Database 
                    li.nav-item
                        a.nav-link(href='/about') About 
                    li.nav-item
                        a.nav-link(href='/admin/index') Admin 
        br

        //- content section
        div.container-fluid
            h1 Add Pokemon to database
            p This is a form that you can use to add a new Pokemon to the database

            hr
            
            form(action="/admin/create" method="post")
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputNumber') Pokemon #
                    .col-sm-10
                        input#inputNumber.form-control(type='text' placeholder='pokemon #' name='number')
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputName') Name
                    .col-sm-10
                        input#inputName.form-control(type='text' placeholder='name' name='name')
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputType') Type 1
                    .col-sm-10
                        input#inputType1.form-control(type='text' placeholder='type 1' name='type1')
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputType') Type 2
                    .col-sm-10
                        input#inputType2.form-control(type='text' placeholder='type 2' name='type2')
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputHp') HP
                    .col-sm-10
                        input#inputHp.form-control(type='text' placeholder='hp' name='hp')
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputAttack') Attack
                    .col-sm-10
                        input#inputAttack.form-control(type='text' placeholder='attack' name='attack')
                .form-group.row
                    label.col-sm-2.col-form-label(for='inputDefense') Defense
                    .col-sm-10
                        input#inputDefense.form-control(type='text' placeholder='defense' name='defense')
                        br
                        button.btn.btn-danger.btn-lg.btn-block(href='/admin/create') Create



        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
