body {
    background-color: #2c2f30;
    color: white;
}

/* table img{
    width: 40px;
} */

.jumbotron {
    background-color: black;
}

/* table img {
    width: 50px;
}

table td {
    display: table-cell;
    vertical-align: middle;
}
 */
